*[style*="neon-images.com"] {
    position: relative;
}

img[src*="neon-images.com"],
*[style*="neon-images.com"]:before {
    box-sizing: border-box !important;
    border: 10px solid rgba(255, 0, 255, 0.618) !important;
}

*[style*="neon-images.com"]:before {
    font-family: Arial, sans-serif;
    font-weight: normal;
    content: 'Neonscope' !important;
    color: #fff !important;
    text-align: center !important;
    font-size: 1.618em !important;
    line-height: 4;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    text-shadow:
        1px -1px 0 rgba(255, 0, 255, 0.618),
        1px 1px 0 rgba(255, 0, 255, 0.618),
        -1px 1px 0 rgba(255, 0, 255, 0.618),
        -1px -1px 0 rgba(255, 0, 255, 0.618) !important
    ;
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    top: 0 !important;
    left: 0 !important;
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 10px,
        rgba(255, 0, 255, 0.618) 10px,
        rgba(255, 0, 255, 0.618) 40px
    ) !important;
}
